<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="~{fragments/head :: commonHead('Login - ERP System')}"></head>
    <link rel="stylesheet" th:href="@{/css/login.css}">
<body>
  <div id="particles-js"></div>

  <div id="imgs" class="text-center mb-4">
    <img th:src="@{/img/sho.png}" alt="Logo" />
  </div>

  <!-- Flash message -->
  <div th:if="${warning}" class="alert alert-danger" th:text="${warning}"></div>
  <div th:if="${success}" class="alert alert-success" th:text="${success}"></div>

  <form  th:action="@{/users/verifyOtp}"  method="post">

<input type="hidden" th:value="${email}" name="email">    
<input type="hidden" th:value="${otp}" name="generateOtp">    

    <div class="mb-3">
      <label for="inputPassword" class="form-label">OTP :</label>
      <input type="text" name="insertOtp" class="form-control"  placeholder="Enter your OTP"  />
      <span id="error-password"></span>
    </div>

    <button type="submit" class="btn btn-success w-100">Verify OTP</button>
  </form>
  
   <!-- Forgot Password Link -->
  <div class="mt-2 text-end">
    <a th:href="@{/users/forgotPassword}" class="small">Forgot Password?</a>
  </div>
  

  <div class="text-center mt-3">
    <small>Don't have an account? <a th:href="@{/users/userRegister}">Register here</a></small>
  </div>

  <div th:replace="~{fragments/scripts :: commonScripts}"></div>

  <script th:src="@{/js/particles.js}"></script>
  <script th:src="@{/js/login.js}"></script>
</body>
</html>
